ORDERFLOW_INFRA_POSTGRES_DB=orderflow
ORDERFLOW_INFRA_POSTGRES_USER=orderflow
ORDERFLOW_INFRA_POSTGRES_PASSWORD=orderflow
ORDERFLOW_INFRA_POSTGRES_PORT=5432
ORDERFLOW_INFRA_MINIO_ROOT_USER=minioadmin
ORDERFLOW_INFRA_MINIO_ROOT_PASSWORD=minioadmin
ORDERFLOW_INFRA_DOCUMENTS_BUCKET=orderflow-documents
ORDERFLOW_INFRA_MINIO_API_PORT=9000
ORDERFLOW_INFRA_MINIO_CONSOLE_PORT=9001
ORDERFLOW_INFRA_OTEL_HTTP_PORT=4318
ORDERFLOW_INFRA_OTEL_GRPC_PORT=4317
ORDERFLOW_INFRA_LIBRETRANSLATE_PORT=5000
